.subContainer {
  width: 100%;
  max-width: 800px;
  background: white;
  color: #434343;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
}

.optionsContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.optionContainer {
  background: #ccc;
  padding: 20px;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 25px;

  &:hover {
    background: #ddd;
    border: 2px solid #007bff;
  }

  img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.submitBtn {
  background: #60b84b;
  color: white;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #4e9d3a;
  }
}
.selectedOption {
  /* background: #ddd; */
  border: 2px solid #007bff;
}
