.resultContainer {
  justify-content: center;
  align-items: center;
}
.subResultContainer {
  font-size: 1.5rem;
  color: #474444;
  padding: 10px;
  text-align: center;
  background: white;
  margin: 0 auto;
  width: 40%;
  border-radius: 10px;
}
.subResultContainer img {
  object-fit: contain;
}
.result {
  color: #60b84b;
}
