.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  color: #333;
}

.notFoundText {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.errorMessage {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}

.backToDashboardBtn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #7d36b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backToDashboardBtn:hover {
  background-color: #5a1a7f;
}
