/* Base styles for the blurred background */
.questionModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Styles for the modal box */
.modalBox {
  position: relative;
  background: white;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the modal container */
.modalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  color: gray;
}

/* Styles for the number field */
.numberField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

/* Styles for the number field container */
.numberFieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 1.4rem;
}

/* Styles for the circle container */
.circleContainer {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Styles for the close icon ('x') */
.closeIcon {
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
  font-size: x-small;
  z-index: 1;
  color: red;
  transform: translate(50%, -50%);
  transition: color 0.3s ease;
}

.closeIcon:hover {
  color: red;
}

/* Styles for the plus icon */
.plusIcon {
  color: gray;
  transition: opacity 0.3s ease;
  font-size: 1.2rem;
}

.plusIcon:hover {
  opacity: 0.75;
}

/* Styles for the maximum questions text */
.maxQuestionsText {
  color: gray;
}

.questionField {
  display: flex;
  flex-direction: column;
}

/* Input styles */
.questionFieldInput {
  outline: none;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  /* margin-top: 15px; */
}

/* Styles for the option type container */
.optionType {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
  justify-content: space-between;
}

.optionTypeLegend {
  font-weight: bold;
}

.optionTypeItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* 3rd step */
.container {
  display: flex;
  justify-content: space-between;
}

/* Outer Row styles */
.outerRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  width: 85%;
}

/* Input group styles */
.inputGroup {
  display: flex;
  width: 100%;
  align-items: baseline;
  gap: 10px;
}

/* Radio input styles */
.radioInput {
  /* margin-right: 5px; */
  width: 15px;
}

/* Text input styles */
.textInput {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Delete icon styles */
.deleteIcon {
  width: 15px;
  height: 15px;
  color: red;
  cursor: pointer;
}

/* Timer container styles */
.timerContainer {
  display: flex;
  flex-direction: column; /* Timers in a column */
  gap: 5px;
  justify-content: flex-end;
  /* Adjust the margin between input row and timer container */
}

/* Additional styles for timer spans */
.timerContainer span {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
}

.timerContainer span :hover and :active {
  background-color: rgb(202, 79, 79);
  color: white;
}

/* Button styles */
button {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 55%;
  margin-left: 25px;
  /* Smooth transition on hover */
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.75;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.createButton {
  background-color: #60b84b;
  color: white;
}

.selected {
  background-color: rgb(214, 35, 35);
  color: white;
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 600px) {
  .optionType {
    flex-direction: column;
  }

  .optionType label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .modalBox {
    padding: 10px;
  }
}
