/* Container styling */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal styling */
.modal {
  position: relative;
  background: white;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Content styling */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  color: gray;
  padding: 20px;
  /* text-align: center; */
}

/* Quiz input styling */
.quizInput {
  outline: none;
  margin-top: 15px;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

/* Radio container styling */
.quizTypeContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Radio label styling */
.quizeTypeLabel {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.quizTypeContainer span {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;
  width: 100px;
  text-align: center;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.quizTypeContainer span:hover {
  opacity: 0.75;
}

/* .quizTypeContainer span:active, */
.selected {
  background-color: #60b84b;
  color: white;
}

/* Button container styling */
.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Button styling */
.btn {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 55%;
  /* Smooth transition on hover */
  transition: background-color 0.3s ease;
}

.btn:hover {
  opacity: 0.75;
}

/* Continue button styling */
.btnContinue {
  background-color: #4caf50;
  color: #fff;
}
