:root {
  --primary-color: #474444;
  --secondary-color: #333;
  --hover-color: #ccc;
}

.sidebar {
  max-width: 200px;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: var(--primary-color);
  font-weight: 700;
  flex: 1;
}

/* Sidebar Header (Logo) */
.sidebarHeader {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
}

/* Sidebar Navigation (Navbars in the middle) */
.sidebarNav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Styling for each navigation link */
.sidebarLink {
  display: block;
  padding: 10px;
  color: var(--secondary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebarLink:hover {
  background-color: var(--hover-color);
  min-width: 90%;
  border-radius: 5%;
}

/* Sidebar Active Link */
.sidebarLink:active {
  background-color: #fff;
  border-radius: 5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Sidebar Separator */
.sidebarSeparator {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

/* Sidebar Logout Button (at the bottom) */
.sidebarLogout {
  font-size: 1rem;
  font-weight: 600;
  /* margin-top: auto; */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  /* height: 20px; */
}

/* Hover effect for Logout Button */
.sidebarLogout:hover {
  color: black;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }

  .sidebar {
    max-width: 100%;
  }
}
